---
import '@fontsource/bruno-ace-sc';
import '@fontsource/outfit';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Apex</title>
	</head>
	<body>
		<div class="bg-gradient-to-br from-[#112349] via-[#3C7BCE] to-[#88AFD0] w-full min-h-screen text-white flex flex-col justify-start items-center">
      <div class="pt-24">
        <h1 class="text-center text-7xl font-display">Apex</h1>
        <p class="text-center text-2xl">A 3 month journey to launch projects on high-altitude balloons in Boston.</p>
      </div>

      <div class="flex flex-col justify-start items-center w-1/3 gap-10 py-24">
        <div class="flex flex-row justify-start items-start gap-5">
          <p class="flex justify-center items-center font-bold h-10 aspect-square text-xl rounded-full border-2 border-white bg-apexblue">1</p>
          <div class="flex flex-col justify-start items-start">
            <p class="text-lg">February 28 <span class="text-md text-gray-300 pl-5">5 months</span></p>
            <p class="text-2xl font-bold">Registration deadline</p>
            <p class="text-lg">Signing up for Apex is free - you just need a team of fellow teens ready to dive into making a project for Apex!</p>
            <button class="border-2 my-2 px-5 py-2 text-2xl border-white bg-apexblue font-semibold">Sign Up</button>
          </div>
        </div>

        <div class="flex flex-row justify-start items-start gap-5">
          <p class="flex justify-center items-center font-bold h-10 aspect-square text-xl rounded-full border-2 border-white bg-apexblue">2</p>
          <div class="flex flex-col justify-start items-start">
            <p class="text-lg">March 23 <span class="text-md text-gray-300 pl-5">6 months</span></p>
            <p class="text-2xl font-bold">Submit proposal</p>
            <p class="text-lg">Finalize your ideas and designs and submit them to the Apex team for review.</p>
            <button class="border-2 my-2 px-5 py-2 text-2xl border-white bg-apexblue font-semibold">Resources</button>
          </div>
        </div>

        <div class="flex flex-row justify-start items-start gap-5">
          <p class="flex justify-center items-center font-bold h-10 aspect-square text-xl rounded-full border-2 border-white bg-apexblue">3</p>
          <div class="flex flex-col justify-start items-start">
            <p class="text-lg">April 30 <span class="text-md text-gray-300 pl-5">7 months</span></p>
            <p class="text-2xl font-bold">Build your project</p>
            <p class="text-lg">After prototyping and iteration, put together the project that will launch on the HAB and ship it to the launch location!</p>
          </div>
        </div>

        <div class="flex flex-row justify-start items-start gap-5">
          <p class="flex justify-center items-center font-bold h-10 aspect-square text-xl rounded-full border-2 border-white bg-apexblue">4</p>
          <div class="flex flex-col justify-start items-start">
            <p class="text-lg">May 10 <span class="text-md text-gray-300 pl-5">7 months</span></p>
            <p class="text-2xl font-bold">LAUNCH!</p>
            <p class="text-lg">Head over to Boston, MA to see your project launch, and then recover it and analyze the results!</p>
          </div>
        </div>
      </div>

      <div class="bg-lessblue w-full py-20 flex justify-center">
        <div class="flex flex-col justify-start items-start w-1/2 gap-10">
          <div class="flex flex-col justify-start items-start gap-2">
            <p class="font-bold text-2xl">What's a high altitude balloon?</p>
            <p class="text-lg">
              lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
              lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            </p>
          </div> 

          <div class="flex flex-col justify-start items-start gap-2">
            <p class="font-bold text-2xl">Do I need experience to sign up?</p>
            <p class="text-lg">
              Nope! Apex is open to all teenagers interested in launching projects on high altitude balloons.
            </p>
          </div>

          <button class="self-center border-2 my-2 px-10 py-4 text-3xl border-white bg-apexblue font-semibold">Sign Up</button>
        </div>
      </div>

      <div class="bg-apexblue w-full p-10">
        <p class="text-center text-xl">This website is open-source at <a href="https://github.com/apexhacks2025/website">https://github.com/apexhacks2025/website</a></p>
        <p class="text-center text-xl">Apex is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499). any donations you make to Apex are tax deductible.</p>
      </div>
    </div>
	</body>
</html>
