---
import "@fontsource/jockey-one";
import "@fontsource/jetbrains-mono";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import wordmark from "../../assets/wordmark.png";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("resources");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Apex {entry.data.title}</title>
  </head>
  <body>
    <div
      class="flex min-h-screen w-full flex-col justify-start gap-10 bg-earthblack px-5 py-20 text-white md:px-32"
    >
      <div class="flex flex-col items-center justify-start">
        <a href="/"><Image src={wordmark} alt="Apex wordmark" width={250} /></a>
        <a class="font-display text-3xl" href="/resources">RESOURCES</a>
      </div>

      <div class="prose prose-invert lg:prose-lg xl:prose-xl">
        <h2>{entry.data.title}</h2>
        <Content />
      </div>
    </div>

    <div class="text-white">
      <Footer />
    </div>
  </body>
</html>
