---
import "@fontsource/jockey-one";
import "@fontsource/jetbrains-mono";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import wordmark from "../../assets/wordmark.png";
import Footer from "../../components/Footer.astro";

const allResources = await getCollection("resources");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Apex Resources</title>
  </head>
  <body>
    <div
      class="flex min-h-screen w-full flex-col justify-start gap-10 bg-earthblack px-5 py-20 text-white md:px-32"
    >
      <div class="flex flex-col items-center justify-start">
        <a href="/"><Image src={wordmark} alt="Apex wordmark" width={250} /></a>
        <p class="font-display text-3xl">RESOURCES</p>
      </div>

      <div class="prose prose-invert lg:prose-lg xl:prose-xl">
        <p>
          🚀 Welcome to Apex's resources wiki! Here, you'll find everything you
          need to get started with Apex and make your project. If there's a
          question you have that's not anwered here, ask in the <a
            href="/slack-channel">#apex</a
          >
          channel on the Hack Club Slack!
        </p>
        <h3>All Resources:</h3>
        <ul>
          {
            allResources.map((resource) => (
              <li>
                <a href={`/resources/${resource.slug}`}>
                  {resource.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="text-white">
      <Footer />
    </div>
  </body>
</html>
