---
import "@fontsource/bruno-ace-sc";
import "@fontsource/outfit";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Apex Proposal Resources</title>
  </head>
  <body>
    <div
      class="flex min-h-screen w-full flex-col justify-start gap-10 bg-gray-800 px-32 py-20 text-white"
    >
      <div class="flex flex-col items-center justify-start">
        <a class="text-center font-display text-7xl" href="/">Apex</a>
        <p class="font-display text-2xl">RESOURCES</p>
      </div>

      <div class="prose prose-invert lg:prose-lg">
        <h2>Proposal Resources</h2>
        <p>TODO</p>
      </div>
    </div>
  </body>
</html>
