<footer>
  <div class="bg-ground w-full p-10">
    <p class="text-center text-xl">
      This website is open-source at <a
        href="https://github.com/apexhacks2025/website"
        class="underline">apexhacks2025/website</a
      >.
    </p>
  </div>
  <div class="bg-dirt w-full p-10">
    <p class="text-center text-xl">
      Apex is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a
      501(c)(3) nonprofit (EIN: 81-2908499). any donations you make to Apex are
      tax deductible.
    </p>
  </div>
  <div
    class="bg-darkdirt flex w-full items-center justify-center gap-10 p-10 text-xl"
  >
    <a class="underline" href={import.meta.env.BASE_URL}>HOME</a>
    <a class="underline" href={`${import.meta.env.BASE_URL}/resources`}
      >RESOURCES</a
    >
    <a class="underline" href="https://hackclub.com">HACK CLUB</a>
  </div>
</footer>
