<footer class="w-full">
  <div class="w-full bg-ground p-10">
    <p class="text-center text-lg md:text-xl">
      This website is open-source! Check it out on <a
        href="https://github.com/apexhacks2025/website"
        class="underline">GitHub</a
      >.
    </p>
  </div>
  <div class="w-full bg-dirt p-10">
    <div class="flex justify-center">
      <p class="text-center text-lg md:w-2/3 md:text-xl">
        You can also see all of our finances on <a
          href="https://hcb.hackclub.com/apex"
          class="underline">HCB</a
        > - Apex is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club),
        a 501(c)(3) nonprofit (EIN: 81-2908499). Any <a
          href="https://hcb.hackclub.com/donations/start/apex"
          class="underline">donations</a
        > you make to Apex are tax deductible.
      </p>
    </div>
  </div>
  <div
    class="flex w-full items-center justify-center gap-10 bg-darkdirt p-10 text-xl"
  >
    <a class="underline" href="/">HOME</a>
    <a class="underline" href="/resources">RESOURCES</a>
    <a class="underline" href="https://hackclub.com">HACK CLUB</a>
  </div>
</footer>
